<app-navbar></app-navbar>

<div *ngIf="visibleAlert" [ngClass]="{'alert-success': saved.success, 'alert-danger': !saved.success}" class="alert d-flex justify-content-center" role="alert">
  {{ saved.message}}
</div>

<main class="template">
  <div class="table-container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            <input type="number" placeholder="Buscar por ID" class="filters__input form-control" [(ngModel)]="empleadoId">
          </th>
          
          <th>
            <input type="text" placeholder="Buscar por nombre" class="filters__input form-control" [(ngModel)]="nombre">
          </th>
          <th></th>
          <th></th>
          <th>
            <select name="select" class="filters__input form-control" [(ngModel)]="cargo" >
              <option value="0">Buscar por cargo</option>
              <option *ngFor="let cargo of cargos" [value]="cargo.id">{{ cargo.cargo}}</option>
            </select></th>
          <th colspan="3"></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha nacimiento</th>
          <th>Edad</th>
          <th>Cargo</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados| filter:page:empleadoId:nombre:cargo" >
          <td>{{empleado.id}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.fechaNacimiento}}</td>
          <td style="cursor: pointer; width: 200px;">
            <input class="form-control" type="number" [value]="empleado.edad" #newAge (blur)="changeEdad(empleado.id, newAge.value)"/>
          </td>
          <td>{{empleado.cargo | nombreCargo:cargos}}</td>

          <td class="selectable edit">
            <span class="material-symbols-outlined" title="Editar información" (click)="editEmpleado(empleado.id)">
              edit
            </span>
          </td>
          <td class="selectable" title="Eliminar empleado" (click)="delete(empleado.id)">
            <span class="material-symbols-outlined delete">
              delete
            </span>
          </td>
          <td class="selectable" (click)="changeStatus(empleado.id)">
            <span *ngIf="empleado.activo" class="material-symbols-outlined toggle-on" title="Empleado activo">
              toggle_on
            </span>
            <span *ngIf="!empleado.activo" class="material-symbols-outlined toggle-off" title="Empleado inactivo">
              toggle_off
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="8" class="p-0">
            <div class="add" (click)="changeModalVisibility()">
              <span class="material-symbols-outlined">
                add_circle
              </span>
              <span>Agregar Nuevo Empleado</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons">
    <button type="button" class="btn" (click)="getPreviousPage()">Anterior</button>
    <button type="button" class="btn btn-primary" (click)="getNextPage()">Siguiente</button>
  </div>
</main>
<app-modal 
  [showModal]="showModal" 
  (modalStateEvent)="closeModal($event)" 
  (addEmpleado)="nuevoEmpleado($event)" 
  (showAlert)="showAlert($event)" 
  [empleados]="empleados"
  [editarEmpleado]="editarEmpleado"
  (changeAction)="changeAction($event)"
  [action]="actionModal"
  (actualizar)="actualizarEmpleados($event)"
  >
</app-modal>