.template{
	padding: 2rem;

}

.table-container, .filters, .buttons{
	width: 100%;
	display: flex;
	justify-content: center;

}

.table{
	width: 100%;
	box-shadow: 1px 10px 10px  #eeeeee;
}

.filters{
	width: 100%;
	display: flex;
	justify-content: space-evenly ;
	margin-bottom: 2rem;
	align-items: center;

	background-color: #eeeeee;
	color: var(--white);
	height: 7rem;
	box-shadow: 1px 1px 10px 1px;
}

.selectable{
	cursor: pointer;
}
.selectable:hover{
	color: #919191
}

.filters__input{
	padding: 1px 10px;
	width: 100%;
	border: 1px solid #919191;

}
.filters__input:focus{
	outline: 1px solid #cecece;
}

.toggle-on{
	color: var(--correct);
}

.toggle-off{
	color: var(--incorrect);
}

.delete{
	color: var(--incorrect);
}

.edit{
	color: var(--warning);
}

.add{
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 8px;
}


.add:hover{
	background-color: var(--correct);
	color: white;
}

tr:nth-last-child{
	padding: 0;
	background-color: #eeeeee;
}

td, th{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.alert{
	position: absolute;
	width: 50%;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
