<app-navbar></app-navbar>

<main class="template">
  <div class="filters">
    <form>
      <input type="text" placeholder="e">
      <input type="text" placeholder="e">
      <input type="text" placeholder="e">
      <input type="text" placeholder="e">
    </form>
  </div>
  <div class="table-container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Fecha Nacimiento</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.id}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.edad}}</td>
          <td>{{empleado.fechaNacimiento}}</td>
          <td>{{empleado.cargo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>